body{
    background-color: black;
}

.container{
    height: 400px;
    width: 400px;
    position: relative;
    
}

.sol{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 166, 0, 0.681);/*blanco*/
    position: absolute;
    top: 150px;
    left:150px;
}

.globo.mercurio{
    height: 10px;
    width: 10px;
    top: 20px;
    right: 20px;
}

.globo.venus{
    height: 18px;
    width: 18px;
    top: 35px;
    right: 35px;
}

.globo.tierra{
    height: 20px;
    width: 20px;
    top: 50px;
    right: 50px;
}

.globo.marte{
    height: 19px;
    width: 19px;
    top: 65px;
    right: 65px;
}

.globo.jupiter{
    height: 40px;
    width: 40px;
    top: 70px;
    right: 70px;
}

.globo.saturno{
    height: 35px;
    width: 35px;
    top: 85px;
    right: 85px;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(121, 192, 255, 0.681);
    
}

.globo.urano{
    height: 25px;
    width: 25px;
    top: 100px;
    right: 100px;
}

.globo.neptuno{
    height: 25px;
    width: 25px;
    top: 120px;
    right: 120px;
}

.globo.luna{
width: 10px;
height: 10px;
top: 8px;
right: 2px;
}

.globo{
position: absolute;
border-radius: 50%;
}

.orbita.mercurio{
    position: absolute;
    animation: orbita 2s linear infinite;
    height: 200px;
    width: 200px;
    left: 100px;
    top: 100px;
}

.orbita.venus{
    position: absolute;
    animation: orbita 5s linear infinite;
    height: 300px;
    width: 300px;
    left: 50px;
    top: 50px;
}

.orbita.tierra{
    position: absolute;
    animation: orbita 6s linear infinite;
    height: 400px;
    width: 400px;
    left: 0px; 
    top: 0px;
}

.orbita.marte{
    position: absolute;
    animation: orbita 8s linear infinite;
    height: 500px;
    width: 500px;
    left: -50px; 
    top: -50px; 

}

.orbita.jupiter{
    position: absolute;
    animation: orbita 15s linear infinite;
    height: 600px;
    width: 600px;
    left: -100px; 
    top: -100px; 

}

.orbita.saturno{
    position: absolute;
    animation: orbita 17s linear infinite;
    height: 700px;
    width: 700px;
    left: -150px; 
    top: -150px; 

}

.orbita.urano{
    position: absolute;
    animation: orbita 20s linear infinite;
    height: 800px;
    width: 800px;
    left: -200px; 
    top: -200px; 

}

.orbita.neptuno{
    position: absolute;
    animation: orbita 24s linear infinite;
    height: 900px;
    width: 900px;
    left: -250px; 
    top: -250px; 

}

.orbita.luna{
    position: absolute;
    animation: orbita 2.5s linear infinite;
    height: 80px;
    width: 80px;
    left: -25px;
    top: -25px;
}

.orbita{
    position: relative;
    border: solid;
    border-color: white transparent transparent transparent;
    border-radius: 50%;
    border-width: 1px 1px 0 0 ;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;
}

@keyframes orbita{
    to{
        transform: rotate(360deg);
    }
}

